@font-face {
  font-family: 'PlayfairDisplay';
  src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Genos';
  src: url(./assets/fonts/Genos/Genos-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'A';
  src: url(./assets/fonts/Tektur/Tektur-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: 'WorkSans';
  src: url(./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.subtitel-text, .subtitel-text__bottom {
  opacity: 0;
  font-size: 42px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: 'WorkSans';
}

.subtitel-text {
   margin-top: 10rem;
}
/* secondary section img links */

.blank {
  padding-top: 38rem;
}

.section-secondary {
  display: flex;
  flex-grow: 1;
  scroll-snap-align: start;
  margin-top: 1rem;
  height: 20rem;
  width: 100%;
}

.section-secondary > div {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.section-secondary img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.image-link-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Ensures the text and pseudo-elements align properly */
}

.section-secondary > div:nth-child(1) .image-link-wrapper::before {
  content: 'First Before ';
  display: block;
}
.section-secondary > div:nth-child(1) .image-link-wrapper::after {
  content: ' First After';
  display: block;
}

/* Target the second .image-link-wrapper */
.section-secondary > div:nth-child(2) .image-link-wrapper::before {
  content: 'Second Before ';
  display: block;
}
.section-secondary > div:nth-child(2) .image-link-wrapper::after {
  content: ' Second After';
  display: block;
}

/* Target the third .image-link-wrapper */
.section-secondary > div:nth-child(3) .image-link-wrapper::before {
  content: 'Third Before ';
  display: block;
}
.section-secondary > div:nth-child(3) .image-link-wrapper::after {
  content: ' Third After';
  display: block;
}

.image-link-wrapper a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.target-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

/* ny */

element.style {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-image: url('./assets/images/background/jon-flobrant-jxfe3orC4G8-unsplash.jpg');
  background-size: contain;
  background-position: top;
  background-size: 100% 915px;
  background-repeat: no-repeat;
  font-family: 'WorkSans';
  scroll-behavior: smooth;
}

.languageBtn-container {
  position: absolute;
  top: 5;
  right: 5%;
}

#languageBtn {
  display: flex;
  font-size: 1.2rem;
  color: rgb(253, 253, 253);
  border-radius: 1rem;
  height: 2rem;
  font-family: 'WorkSans';
}

/** Dropdown menu*/

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;

}

.menu li a {
  font-family: 'WorkSans';
}

.menu-button-container {
  display: none;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ff3131;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* !!!! */

.header {
  position: fixed;
  display: flex;
  width: 100%;
  text-shadow: rgba(82, 81, 81, 0.881) 1px 0 10px;
  background: linear-gradient(to left, #46444452, #fafafa);
  box-shadow: 0 4px 30px rgba(46, 46, 46, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(79, 75, 75, 0.3);
  color: rgb(255, 255, 255);
  z-index: 100;
}

.hero {
  position: absolute;
  height: 25rem;
  top: 10%;
  left: 5%;
}

h1 {
  padding-left: 3rem;
  font-weight: 900;
  font-size: 5rem;
}

#subtitel {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}



.site-nav {
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 15rem;
  padding-right: 2rem;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'WorkSans';
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: #ffffff;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: RGB(64 210 135);
}

.about-list__li:hover {
  background-color: rgba(0, 0, 0, 0.227);
}

.container p {
  font-size: 1.4em;
  font-family: 'Genos';
  font-weight: 400;
}

/* .video-main {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
video {
  padding-top: 17rem;
} */

/*  */

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ec2525;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline.active::before {
  width: 100%;
}

/* */

.about-image {
  background-image: url('./assets/images/swe.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.8));
}


#nav-to-top {
  position: fixed;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: rgba(66, 64, 64, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(79, 75, 75, 0.3);
  z-index: 1;
}

.footer-p {
  text-align: start;
  padding-right: 1rem;
}

.footer__logo {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.footer__logo img:not(:last-child) {
  margin-right: 1rem;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Below mainsite */
.about {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 15rem;
  padding: 2rem;
  background: rgba(66, 64, 64, 0.748);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(79, 75, 75, 0.3);
}

.about h2 {
  border-bottom: 2px solid #fff8f8;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-list {
  width: 70%;
}

.about-item {
  margin-bottom: 20px;
}

.checkmark {
  margin-right: 10px;
}

.about-image {
  width: 25%;
  padding-left: 20px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.checkmark {
  color: green;
  font-weight: bold;
}
h2,
h3 {
  text-align: center;
  color: #ffffff;
}

.hover {
  text-shadow: 1px 1px 2px black;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.slider,
.offer,
.history {
  margin: 0 auto;
  width: 70%;
  background: linear-gradient(
    264deg,
    rgb(145, 145, 145) 0%,
    rgba(46, 46, 46, 0.932) 100%
  );
}

.slider {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.slider {
  margin-top: 20rem;
}
.slider h2 {
  font-size: 32px;
}

.slider__titel {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: 'Genos';
}

.offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
  height: 13rem;
}

.offer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

.offer h3 {
  color: black;
  font-size: 20px;
  font-weight: 900;
}

.offer__svg {
  width: 80px;
  height: 80px;
  background-image: url('./assets/svg/team-svgrepo-com.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.offer__text {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 20rem;
}

.history {
  font-family: sans-serif;
  padding: 10rem;
  height: 12rem;
}

.history__header {
  padding: 1rem;
}

@media (max-width: 1250px) {
  body {
      background-size: 100% 900px;
  }

    .blank {
  padding-top: 37rem;
}
  .menu-button-container {
    display: flex;
  }

  #languageBtn {
    background-color: #00000000;
    color: white;
  }
  .menu {
    position: absolute;
    top: 50%;
    margin-top: 50px;
    right: 0;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #0707078a;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #464646f1;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #44444469;
  }
}

@media (max-width: 1024px) {
  body {
      background-size: 100% 800px;
  }

  .blank {
  padding-top: 31rem;
}

}

@media (max-width: 650px) {
  .menu-button-container {
    display: flex;
  }
}

@media (max-width: 768px) {

    body {
      background-size: 100% 550px;
  }

  .blank {
  padding-top: 20rem;
}

 .subtitel-text, .subtitel-text__bottom {
    font-size: 18px;
 }
  .about-content {
    flex-direction: column;
  }

  .offer__content {
    flex-basis: 100%;
    max-width: 100%;
  }

  .about-list,
  .about-image {
    width: 100%;
  }

  .about-image {
    padding-left: 0;
    margin-top: 20px;
  }
}

/* @media only screen and (max-width: 763px) {
  .header {
    display: flex;
    width: 100%;
    text-shadow: rgba(82, 81, 81, 0.881) 1px 0 10px;
    background: linear-gradient(to left, #46444452, #fafafa);
    box-shadow: 0 4px 30px rgba(46, 46, 46, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(79, 75, 75, 0.3);
    color: rgb(255, 255, 255);
  }

  .main-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }

  .main-menu li {
    margin-bottom: 16px;
  }

  h1 {
    margin-top: 0.6rem;
  }
} */

@media only screen and (max-width: 550px) {

  .menu li a {
  font-size: 16px;
}

  .hero {
    padding-top: 0.5rem;
    width: 80%;
    height: 20rem;
  }

    .menu-button-container {
    padding-left: 1rem;
  }
  h1 {
    font-size: 1.8rem;
  }

  .container p {
    font-size: 1.2rem;
  }
}
