@font-face {
  font-family: 'M';
  src: url(./assets/fonts/DmSans/DMSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'DM';
  src: url(./assets/fonts/DmSans/DMSans-Italic-VariableFont_wght.ttf);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

/** slideUp */

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-moz-keyframes slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: 'M'; 
  scroll-behavior: smooth;
}

.video-container {
  position: relative;
  width: 100%;
  min-height: 800px;
  color: #fff;
  z-index: 0;
}

.video-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  min-width: 200%;
  min-height: 200%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

h2,
h3 {
  font-size: 26px;
  text-align: center;
}

p {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'M';
  font-weight: 700;
  text-decoration: none;
  color: #000000a6;
}

a:hover,
#languageBtn:hover {
  color: #020202;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.languageBtn-container {
  position: absolute;
  top: 5;
  right: 5%;
}

.bookingBtn-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#bookingBtn {
  font-family: 'M';
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff3333;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  width: 12rem;
  height: 3.5rem;
  font-size: 18px;
  font-weight: bold;
}

#bookingBtn:hover {
  background-color: #ff0000;
  border-color: #ff1616;
}

#languageBtn {
  display: flex;
  height: 2rem;
}

/* header */
.title-text,
.title-text__bottom {
  opacity: 0;
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-shadow: -2px -2px 2px rgba(222, 222, 222, 0.3),
    /* Top-left */ 2px -2px 2px rgba(0, 0, 0, 0.3),
    /* Top-right */ -2px 2px 2px rgba(0, 0, 0, 0.3),
    /* Bottom-left */ 2px 2px 2px rgba(0, 0, 0, 0.3); /* Bottom-right */
  font-family: 'Gotham_bold';
  text-transform: uppercase;
  animation: fadeIn 5s ease forwards;
}

.title-text {
  margin-top: 10rem;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

element.style {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Dropdown menu*/
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 0.6rem;
  overflow: hidden;
}

.menu li a {
  font-family: 'M'; 
}

.menu-button-container {
  display: none;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  /* Nav symbol color */
  background-color: #000000;
  position: absolute;
  height: 5px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* !!!! */

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4.4rem;
  background: linear-gradient(to left, #918e8e52, #fafafa);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(79, 75, 75, 0.3);
  z-index: 100;
}

/* KRISSÄKRA LOGO HEADER */
.hero {
  position: absolute;
  height: 5rem;
  top: -7%;
  left: 3%;
}

.site-nav {
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 15rem;
  padding-right: 2rem;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

/*! Menu Line */

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fb0000;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline.active::before {
  width: 100%;
}

/*! end of Menu line */
.about-grid-container {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  scroll-margin-top: 132px;
  padding-bottom: 3rem;
  gap: 20px;
}

.about__section1 {
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

.about__header,
.about__header2 {
  padding-bottom: 0.5rem;
  color: rgb(4, 4, 4);
  border-bottom: 2px solid #ff0000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about__p {
  font-family: 'M';
  margin: 0 auto;
  max-width: 74rem;
}

#krissakra {
  scroll-margin-top: 114px;
}

.krissakra-logo {
  position: absolute;
  bottom: -15%;
  left: 0;
  width: 180px;
}

.about__section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/background/img-heDlY4xFNjH9bUIAjF8cD.jpeg');
  height: 700px;
  color: rgb(0, 0, 0);
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* !CHECKMARK! */

.checkmark {
  color: rgb(0, 163, 68);

  text-shadow: 1px 1px 2px black;
  margin-right: 10px;
}

.product_list {
  border-bottom: 2px solid #ff505027;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.product_list-item {
  font-weight: 900;
  font-size: 20px;
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes slide {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

  
/* Vilka steg tar text */
.about {
  display: flex;
  justify-content: space-evenly;
  background-color: #e6e6e6;
  box-shadow: 0px 12px 19px 26px rgba(0,0,0,0.1);
  width: 100%;
  margin: 0 auto;
  font-family: 'M'; 
  font-size: 20px;
}

.about-content {
  opacity: 0;
  transform: translateX(100%);
  -webkit-animation: slideUp 1s ease-in-out forwards;
  -moz-animation: slideUp 1s ease-in-out forwards;
  animation: slideUp 1s ease-in-out forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: nowrap;
}

/* Vad innebär krissäkra BILD*/
.about-image {
  margin-left: 8rem;
  position: relative;
  display: inline-block;
  background-image: url('./assets/logo/certifiering.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  filter: drop-shadow(5px 5px 5px 5px rgb(2, 2, 2));
  width: 35rem;
}

.product_listh3 {
  color: rgb(4, 4, 4);
  border-bottom: 2px solid #ff0000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#about {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.722);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(79, 75, 75, 0.1);
}

#about p {
  color: black;
  font-weight: 400;
}

#nav-to-top {
  position: fixed;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.footer {
  display: flex;
  justify-content: center;
  background: #dbdbdb;
  color: #1d1d1d;
  font-size: 12px;
}

.footer-content {
  display: flex;
  position: relative;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  margin: 20px;
}

.footer-section h3 {
  text-align: start;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.footer-section button {
  padding-top: 0.2rem;
}

.footer-section__p {
  font-size: 12px;
  text-align: center;
  background: #dbdbdb;
  padding-top: 2rem;
}

.footer-section p {
  font-size: 12px;
}

/******* 1250px  ******************************************************************************/
@media (max-width: 1250px) {
  .title-text,
  .title-text__bottom {
    font-size: 26px;
  }

  .title-text {
    margin-top: 7rem;
  }

  .title-text:hover,
  .title-text__bottom:hover {
    color: red;
  }

  .about-image {
    margin-left: 2rem;
  }

  .about-list {
    width: 100%;
  }

  .about-content {
    justify-content: center;
  }

  .about-grid-container {
    flex-direction: column;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 28%;
    margin-top: 50px;
    width: 100%;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #cfc6c68a;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  /*! Nav dropdown color */
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to left, #918e8ec5, #fafafa);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(79, 75, 75, 0.3);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #44444469;
  }

  .footer-content {
    justify-content: start;
  }
}

/******* 768px  ******************************************************************************/
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    margin-left: 0rem;
    height: 35rem;
  }

  .product_list-item {
    font-size: 16px;
  }

  .about {
    font-size: 16px;
  }

  #about p {
    font-size: 16px;
  }

  #krissakra {
    padding-top: 0;
  }

  .container {
    padding: 2rem;
  }

  #about {
    padding-top: 0;
  }

  .footer-section__p {
    padding-top: 2rem;
  }
}

/******* 650px  *******/
@media (max-width: 650px) {
  .about-image {
    height: 18rem;
    width: 30rem;
  }

  .video-background {
    top: 70%;
    left: 20%;
  }

  .title-text {
    margin-top: 4rem;
  }

  .video-container {
    min-height: 620px;
  }
  /**adda * */

  .krissakra-logo {
    bottom: -7%;
    left: -32%;
  }

  .menu-button-container {
    display: flex;
  }

  .title-text,
  .title-text__bottom {
    font-size: 20px;
  }

  .footer {
    font-size: 16px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px;
    max-width: 100px;
  }

  .footer-section button {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-section__p {
    max-width: 40rem;
  }
}

/******* 550px  ******************************************************************************/
@media only screen and (max-width: 550px) {
  .about {
    display: flex;
  }

  .about-image {
    margin: 0 auto;
    height: 18;
    max-width: 26.5rem;
  }

  .overlayImg {
    display: none;
  }

  .video-container {
    position: relative;
    width: 100%;
    min-height: 400px;
    color: #fff;
    z-index: 0;
  }

  .video-box {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .video-background {
    min-width: 100%;
    min-height: 100%;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
  }

  #bookingBtn {
    margin-top: 10rem;
    height: 3.5rem;
    font-size: 20px;
  }

  .section-secondary {
    flex-direction: column;
    height: 40rem;
  }
  .hero {
    width: 70%;
  }

  .menu-button-container {
    padding-left: 1rem;
  }

  .footer-section button {
    margin-bottom: 0.6rem;
  }

  .footer {
    display: flex;
    justify-content: center;
    background: #dbdbdb;
    color: #1d1d1d;
    font-size: 12px;
  }

  .footer-content {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start; /* Align content at the start (left) */
    max-width: 100%;
  }

  .footer-section {
    justify-content: center;
  }

  .footer-section__p {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .about-image {
    display: fill;
    width: 20rem;
  }
}


@media only screen and (max-width: 350px) {
.about-image {
  max-width: 18rem;
  padding: 0;
  margin: 0;
}


.about-grid-container {
  margin-top: 0rem;
}

}