@font-face {
  font-family: 'PlayfairDisplay';
  src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Genos';
  src: url(./assets/fonts/Genos/Genos-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'A';
  src: url(./assets/fonts/Tektur/Tektur-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: 'WorkSans';
  src: url(./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

a {
  font-family: 'WorkSans';
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000a6
}

a:hover {
  color: #020202
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}


.languageBtn-container {
  position: absolute;
  top: 5;
  right: 5%;
}

#languageBtn {
  font-weight: 700;
  display: flex;
  font-size: 1.2rem;
  color: rgb(39, 39, 39);
  border-radius: 1rem;
  height: 2rem;
  font-family: 'WorkSans';
}

.subtitel-text, .subtitel-text__bottom {
  opacity: 0;
  font-size: 42px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  font-family: 'WorkSans';
}

.subtitel-text {
   margin-top: 10rem;
}

/* secondary section img links */

.blank {
  padding-top: 38rem;
}

.section-secondary {
  display: flex;
  flex-grow: 1;
  scroll-snap-align: start;
  margin-top: 1rem;
  height: 20rem;
  width: 100%;
}

.section-secondary > div {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.section-secondary img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.image-link-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(106, 202, 98);
}

.section-secondary .image-link-wrapper::before,
.section-secondary .image-link-wrapper::after {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

/** Hover styles for the .image-link-wrapper */
.section-secondary .image-link-wrapper:hover::before,
.section-secondary .image-link-wrapper:hover::after {
  opacity: 1;
}

/* Target the first .image-link-wrapper */
.section-secondary > div:nth-child(1) .image-link-wrapper::before {
  content: 'First Before ';
}
.section-secondary > div:nth-child(1) .image-link-wrapper::after {
  content: ' First After';
}

/* Target the second .image-link-wrapper */
.section-secondary > div:nth-child(2) .image-link-wrapper::before {
  content: 'Second Before ';
}
.section-secondary > div:nth-child(2) .image-link-wrapper::after {
  content: ' Second After';
}

/* Target the third .image-link-wrapper */
.section-secondary > div:nth-child(3) .image-link-wrapper::before {
  content: 'Third Before ';
}
.section-secondary > div:nth-child(3) .image-link-wrapper::after {
  content: ' Third After';
}

.image-link-wrapper a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.target-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

/* ny */

element.style {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-image: url('./assets/images/background/jon-flobrant-jxfe3orC4G8-unsplash.jpg');
  background-size: contain;
  background-position: top;
  background-size: 100% 1000px;
  background-repeat: no-repeat;
  font-family: 'WorkSans';
  scroll-behavior: smooth;
}

/** Dropdown menu*/

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu li a {
  font-family: 'WorkSans';
}

.menu-button-container {
  display: none;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  /* Nav symbol color */
  background-color: #000000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* !!!! */

.header {
  position: fixed;
  display: flex;
  width: 100%;
  background: linear-gradient(to left, #918e8e52, #fafafa);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(79, 75, 75, 0.3);
  z-index: 100;
}

.hero {
  position: absolute;
  height: 25rem;
  top: 10%;
  left: 5%;
}

h1 {
  padding-left: 3rem;
  font-weight: 900;
  font-size: 5rem;
}

/* #subtitel {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
} */

.site-nav {
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 15rem;
  padding-right: 2rem;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

/* .hover:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: RGB(64 210 135);
} */

/* .about-list__li:hover {
  background-color: rgba(0, 0, 0, 0.227);
} */

/* .container__subtitle-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container__subtitle-text__wrapper {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 50rem;
}

.container__subtitle-text h2 {
  padding-bottom: 1rem;
}

.container__subtitle-text p {
  border-radius: 0.2rem;
  font-size: 1.4em;
  font-family: 'WorkSans';
  font-weight: 400;
  width: 50rem;
  padding-left: 1rem;
  padding-right: 1;
} */





/*! Menu Line */

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #f1f1f1;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline.active::before {
  width: 100%;
}

/*! end of Menu line */
.about-grid-container {
  display: flex;
    flex-wrap: wrap;
  scroll-margin-top: 10px;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about__section1 {
  font-size: 18px;
  margin: 0 auto;
}

.about__header {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.about__header, .about__p {
  max-width: 40rem;
}


#nav-to-top {
  position: fixed;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

/* Below mainsite */
#roadmap {
  min-height: 1000px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 10rem;
  padding: 2rem;
  background: rgba(175, 175, 175, 0.692);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

#roadmap h2 {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#roadmap-content {
  display: flex;
  justify-content: space-between;
}

#roadmap-list {
  width: 70%;
}

#roadmap-item {
  margin-bottom: 20px;
}

.checkmark {
  margin-right: 10px;
}



/** Product */

.product__container {
    color: rgb(0, 0, 0);
    background: #eeeaeaf5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

#product__h1 {
  scroll-margin-top: 95px;
  padding-top: 3rem;
  font-size: 48px;
  text-align: center;
  font-weight: 500;
}

.product__wrapper {
    display: flex;
    gap: 40px;
    padding: 5rem;
    justify-content: space-between;
}

.product__title {
  position: relative;
  padding-bottom: 2rem;
}

.product__title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  height: 2px;
  background-color: #0000002a;
}

.product__details {
  display: flex;
  width: 40rem;
  flex-direction: column;
  border-style: none;
  
}

.product__title, .product__description, .product__list-item {
    font-family: 'WorkSans';
}

.product__description, .product__list-item {
  font-size: 18px;
  letter-spacing: 1px;
}

.product__list-item {
  padding: 1rem;
  list-style-type: disc;
}

h2,
h3 {
  text-align: center;
}

.hover {
  text-shadow: 1px 1px 2px black;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
  height: 13rem;
}

.offer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

.offer h3 {
  color: black;
  font-size: 20px;
  font-weight: 900;
}

.offer__svg {
  width: 80px;
  height: 80px;
  background-image: url('./assets/svg/team-svgrepo-com.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.offer__text {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 20rem;
}

.history {
  font-family: sans-serif;
  padding: 10rem;
  height: 12rem;
}

.history__header {
  padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    background: #bbb8b8;
    /** byt */
    color: #1d1d1d;
    font-size: 16px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 2000px;
}

.footer-section {
    min-width: 20rem;
    margin: 20px;
}

.footer-section h3 {
    text-align: start;
    margin-bottom: 20px;
}

.footer-section button {
  padding-top: 1rem;
}

.footer-section__p {
  padding-top: 5rem;
}

.krissakra-logo {
    width: 180px; /* Logo size */
    margin-right: 10px;
    margin-top: 5rem;
    padding-bottom: 1rem;
}
@media (max-width: 1838px) {
.about-grid-container {
  justify-content: center;
}

  #about {
    padding-top: 4rem;
  }
}
/******* 1250px  *******/
@media (max-width: 1250px) {
  body {
      background-size: 100% 900px;
  }

  .about-grid-container {
  flex-direction: column;
  }

  .blank {
  padding-top: 37rem;
}
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 50%;
    margin-top: 50px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #cfc6c68a;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  /*! Nav dropdown colori */
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to left, #96b4c5de, #c5c5c5f5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(79, 75, 75, 0.3);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #44444469;
  }

  .footer-content {
    justify-content: start;
  }
}

/******* 1024px  *******/
@media (max-width: 1024px) {
  body {
      background-size: 100% 800px;
  }

  .footer-content {
    flex-direction: column;
}

.about__img {
  width: 100%;
}

  .about-grid-container {
    flex-wrap: nowrap;
  }

   .product__wrapper {
    flex-direction: column;
    padding: 2rem;
    gap: 20px;
  }

  .product__title::after {
    padding-bottom: 0.3rem;
    margin-top: 0.2rem;
  }

  .product__details {
    width: auto;
  }

  .product__h1 {
    font-size: 36px;
    padding-top: 2rem;
  }

  .product__description, .product__list-item {
    
    font-size: 18px;
  }

  .blank {
  padding-top: 31rem;
 }
}

/******* 768px  *******/
@media (max-width: 768px) {

    body {
      background-size: 180% 580px;
  }

  #about {
    padding-top: 0;
  }
  .about__section1, .about__section {
    flex: 1;
}

  .blank {
  padding-top: 20rem;
}

 .subtitel-text, .subtitel-text__bottom {
    font-size: 18px;
 }

 .about__img {
  height: 80%;
}

}

/******* 650px  *******/
@media (max-width: 650px) {

  .menu-button-container {
    display: flex;
  }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-section {
        margin: 10px;
        max-width: 100px;
    }

    .footer-section button {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
}

/******* 550px  *******/
@media only screen and (max-width: 550px) {

  .menu li a {
  font-size: 16px;
}

  .hero {
    padding-top: 0.5rem;
    width: 80%;
    height: 20rem;
  }

    .menu-button-container {
    padding-left: 1rem;
  }
  h1 {
    font-size: 1.8rem;
  }

  .container p {
    font-size: 1.2rem;
  }
}
